body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #000;
  color: #fff;
  margin: 0;
  h1 {
    margin: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view-palettes-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 12pt;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.palette-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  width: 90%;
}

.single-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 15px;
  border-radius: 25px;
  width: 100px;
  font-family: sans-serif;
  font-size: 14pt;
  height: 300px;
}

.color-name {
  color: #000;
  opacity: 0.7;
}

.dark {
  color: #fff;
}

#color1 {
  background: #FF0000;
}

#color2 {
  background: #FFFF00;
}

#color3 {
  background: #00FF00;
}

#color4 {
  background: #0000FF;
}

#color5 {
  background: #FF00FF;
}

.lock-icon {
  background-image: url('./assets/unlocked.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
  width: 27px;
}

.locked {
  background-image: url('./assets/locked.svg');
}

.palette-btn-container {
  display: flex;
}

.colors-btn,
.save-btn {
  font-size: 20pt;
  border-radius: 10px;
  padding: 5px;
  width: 500px;
  outline: none;
  margin: 5px;
}

.save-btn {
  width: 100px;
}

.save-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  label,
  input,
  button,
  select,
  option {
    font-size: 16pt;
    padding: 5px;
    margin: 5px;
  }
}

.save-palette-btn,
.save-project-btn {
  background: none;
  border-radius: 10px;
}

.projects-container {
  background: rgba(10, 10, 10, 0.8);
  width: 95%;
  height: 90%;
  position: absolute;
  top: 65px;
  .close-btn {
    position: absolute;
    top: 5px;
    right: 40px;
    background-image: url('./assets/close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 35px;
  }
  h2 {
    margin: 0;
  }
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
}

.project {
  padding: 5px;
  background: #fff;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  h3 {
    margin-left: 15px;
  }
}

.palette {
  display: flex;
  margin: 15px;
}

.palette-color {
  width: 50px;
  height: 50px;
}






.none {
  display: none;
}
