body {
  box-sizing: border-box;
  background: #E5E5E5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif; }
  body button {
    cursor: pointer; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: -100px; }

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: #333;
  color: #fff;
  margin: 0;
  font-family: 'Rammetto One', sans-serif; }
  header h1 {
    margin: 0;
    font-size: 40pt; }
    header h1 .title-highlight {
      color: #BBB; }
  header .view-palettes-btn {
    color: #333;
    position: absolute;
    background: #FFF;
    border: none;
    top: 20px;
    right: 10px;
    font-size: 20pt;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    padding: 5px;
    margin: 5px; }
    header .view-palettes-btn:hover {
      color: #fff;
      background: darkgrey; }

#projectCount {
  background: lightgrey;
  padding: 5px;
  border-radius: 0 8px 8px 0;
  margin-right: -5px; }

.palette-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-top: 150px;
  border-radius: 10px;
  width: 90%; }

.single-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 15px;
  border-radius: 25px;
  width: 200px;
  font-family: 'Oswald', sans-serif;
  font-size: 14pt;
  height: 420px; }
  .single-color .lock-icon {
    background-image: url("./assets/unlocked.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 60px;
    width: 42px; }
  .single-color .locked {
    background-image: url("./assets/locked.svg"); }
  .single-color .lock-icon.dark {
    background-image: url("./assets/unlocked-dark.svg"); }
  .single-color .locked.dark {
    background-image: url("./assets/locked-dark.svg"); }

.color-name {
  color: #000;
  opacity: 0.5;
  font-weight: 900;
  font-size: 25pt;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px; }

.dark {
  color: #fff; }

#color1 {
  background: #FF0000; }

#color2 {
  background: #FFFF00; }

#color3 {
  background: #00FF00; }

#color4 {
  background: #0000FF; }

#color5 {
  background: #FF00FF; }

.palette-btn-container {
  display: flex; }

.colors-btn,
.save-btn {
  color: #333;
  font-size: 20pt;
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;
  background: #FFF;
  border: none;
  padding: 5px;
  width: 600px;
  outline: none;
  margin: 5px; }
  .colors-btn:hover,
  .save-btn:hover {
    color: #fff;
    background: darkgrey; }

.colors-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25pt; }
  .colors-btn span {
    font-size: 12pt;
    font-family: sans-serif; }

.save-btn {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .save-btn .heart {
    background-image: url("./assets/heart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 23px;
    width: 25px;
    margin: 0 3px; }
  .save-btn:hover .heart {
    background-image: url("./assets/heart-hover.svg"); }

.save-container {
  background: rgba(10, 10, 10, 0.8);
  position: absolute;
  top: 250px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%; }
  .save-container h2 {
    text-align: center; }
  .save-container span {
    font-size: 16pt; }
  .save-container label,
  .save-container input,
  .save-container button,
  .save-container select,
  .save-container option {
    font-size: 16pt;
    padding: 5px;
    margin: 10px; }
  .save-container button {
    background: #FFF;
    border-radius: 10px;
    border: none; }
    .save-container button:hover {
      color: #fff;
      background: darkgrey; }
  .save-container .close-form-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
    background-image: url("./assets/close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20px;
    width: 20px; }

.save-prompt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.save-palette-btn,
.save-project-btn {
  background: none;
  border-radius: 10px; }
  .save-palette-btn:hover,
  .save-project-btn:hover {
    color: #fff;
    background: darkgrey; }

.projects-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden; }
  .projects-container header {
    background: #000; }
    .projects-container header .close-btn {
      position: absolute;
      top: 30px;
      right: 40px;
      cursor: pointer;
      background-image: url("./assets/close.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 35px;
      width: 35px; }
    .projects-container header h2 {
      font-size: 40pt;
      margin: 0; }
      .projects-container header h2 .subtitle-highlight {
        color: #BBB; }

.projects {
  background: rgba(10, 10, 10, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px;
  height: 81%;
  overflow: scroll;
  margin: 0; }
  .projects .project {
    border-radius: 10px 10px 0 0;
    border: 4px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px; }
    .projects .project header {
      background: #333;
      border-bottom: 4px solid #000;
      border-radius: 5px 5px 0 0;
      margin: 0;
      height: 50px;
      display: flex;
      justify-content: space-between;
      font-family: 'Oswald', sans-serif; }
      .projects .project header h3 {
        margin: 0 15px;
        font-size: 25pt; }
      .projects .project header p {
        margin: 0 30px; }
    .projects .project .palettes {
      background: #FFF; }
      .projects .project .palettes h5 {
        text-align: center;
        width: 200px;
        padding: 0 40px;
        font-size: 14pt; }
      .projects .project .palettes header {
        background: #999;
        border-radius: 0;
        border: none;
        font-family: 'Oswald', sans-serif;
        font-size: 20pt; }
        .projects .project .palettes header .delete-btn {
          border: none;
          background: none;
          background-image: url("./assets/trash.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 32px;
          width: 28px;
          margin: 0 10px; }
          .projects .project .palettes header .delete-btn:hover {
            background-image: url("./assets/trash-hover.svg"); }
      .projects .project .palettes .palette {
        display: flex;
        margin: 15px;
        cursor: pointer; }
        .projects .project .palettes .palette .palette-color {
          width: 50px;
          height: 50px; }

.none {
  display: none; }
